
  <div class="jumbotron">
    <h1 class="display-3">Best sports plays!</h1>
    <p class="lead">This website will have videos of some of the best sports plays in history.</p>
    <hr class="my-4">
    <p>The sports will be football, bascketball ,baseball ,and soccer.</p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
    </p>
  </div>
