<ul class="nav">
  <li class="nav-item">
    <a class="nav-link active" href="#">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Football</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Baseball</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Basketball</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Soccer</a>
  </li>
</ul>
